@import "tailwindcss";

@theme {
    /* Color palette */
    --color-headerColor: #242530;
    --color-textColor: #ffffff;
    --color-btnColor: #0172f4;
    --color-noteColor: #ffcf7c;
    --color-customRed: rgba(172, 30, 35, 1);
    --color-testimonialCard: #f9f9f9;

    /* Font families */
    /* --font-inter: Inter; */

    /* Font sizes */
    --text-logoText: 30px;
    --text-customText: 15px;
    --text-tablehHeaderText: 16px;
    --text-headerText: 50px;
    --text-tableHeader: 15px;

    /* Line heights */
    --leading-headerText: 60px;
    --leading-tableHeader: 25px;

    /* Font weights */
    --font-weight-customWeight: 500;

    /* Height values */
    --height-headerHeight: 74px;
    --max-height-navbarHeight: 420px;
    --min-height-customHeight: 530px;

    /* Box shadows */
    --shadow-custom: 0 0 15px rgba(0, 0, 0, 0.3);
}

@layer base {
    html {
        font-family: "Inter", sans-serif;
    }
}

/* Content sources */
@source "../src/**/*.{html,js}";
